body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;

    /* display: flex;
        width: 100vw; */
    height: 100vh;
    justify-content: center;
    /* align-items: center; */
}

:root {
    --primary-color: #fc38ce;
    --secondary-color: #e7ed79;
    --tertiary-color: #27bdce;
    /* --primary-color-transparent: rgba(252, 225, 56, 0.8);
    --secondary-color-transparent: rgba(2, 78, 118, 0.8); */
}


.hide {
    display: none;
}

h1 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 28px;
}

.time-bar {
    display: flex;
    align-items: center;
}

h3 {
    text-align: center;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px;
}

.time-box {
    border-style: solid;
    width: 80px;
    height: 50px;
    margin: 10px 10px 10px 10px;
}

.timespot {
    flex-wrap: wrap;
    margin: 10px 10px 10px 16px;
}

.main-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;

    /* You need to define an explicit height! */
    height: 27vh;
}



.bingbong {

    display: flex;

}

.main-box {


    border-style: solid;
    width: 600px;
    height: 300px;
    margin: 20px 60px 53px 49px;
}

.question-container {
    border-style: solid;
    border-color: var(--primary-color);
    height: 208px;
    width: 539px;
    margin: 21px 24px 20px 26px;
}

.btn-grid {
    display: grid;
    gap: 10px;
}